
.scroll {
    color:black;
    max-height: 200px;
    overflow-y:scroll;
    margin-top: 1em; 
    overflow-x:hidden;
}
.grow {
    cursor:pointer;
    padding-left:2em;
}
.grow:hover {
    background-color: gainsboro;
}
.grow .child { transition: all .2s ease-in-out; }
.grow:hover .child{ transform: scale(1.05); }
.hidebutton{opacity: 0;}
.grow:hover .hidebutton{ opacity:1; }